@charset "utf-8";
// If need, change your variables before importing Bulma
@import "~bulma/bulma.sass";

input[type=number] {
  &.has-no-arrows
    {
      -moz-appearance:textfield;
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        display: none;
      }
    }
  &.is-wide {
    width: 8ch;
  }
}

.tag {
  &.is-easy {
    background-color: $green;
    color: $dark;
  }
  &.is-medium {
    background-color: $yellow;
    color: $dark;
  }
  &.is-hard {
    background-color: $red;
    color: $dark;
  }
}

.row {
  display: flex;
  justify-content: center;
}

.row-item {
  width: 3rem;
  height: 3rem;
}