@charset "utf-8";
// If need, change your variables before importing Bulma
@import "~bulma/bulma.sass";

input[type=number] {
  &.has-no-arrows
    {
      -moz-appearance:textfield;
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        display: none;
      }
    }
  &.is-wide {
    width: 8ch;
  }
}

